@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

main {
    margin: 80px 0;
}

/* ピックアップ記事 */

.pickup, .recommend {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.titleArea {
    margin-bottom: 40px;
    text-align: center;
}

.titleArea img {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
}

.title {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

/* cardの形 */

.cardContainer {
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;    
}

.card {
    flex: 1;
    padding: 20px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.cardImgBox img {
    width: 100%;
    height: auto;
    max-width: 338px;
    object-fit: cover;
}

.cardTitle {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 18px;
}

.cardTitle, .listTitle {
    line-height: 1.4;
}

.cardText {
    margin-top: 4px;
    margin-bottom: 8px;
    color: #707070;
    font-size: 15px;
}

.cardText, .listText {
    line-height: 1.6;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: #707070;
    border-radius: 5px;
}

.tag {
    display: inline-block;
    padding: 2px 4px;
    background-color: #f5f5f5;
    border-radius: 3px;
    color: #707070;
    font-size: 12px;
}

/* カテゴリ */

.category, .listCategory {
    display: inline-block;
    padding: 3px 8px;
    background-color: #ea8c20;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.category {
    margin-top: 16px;
}

.listCategory {
    margin: 0;
}

.category.green, .listCategory.green {
    background-color: #40b6bb;
}

.listCategory.pink {
    background-color: #e62294;
}


/* ボタン */

.btnArea {
    margin-top: 10px;
    text-align: right;
}

.btnMore, .listBtnMore {
    padding: 8px 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #111111;
    font-size: 13px;
    text-decoration: none;
}

.btnArrow {
    padding-left: 8px;
}

/* おすすめ記事PC */

.recommend {
    margin-top: 80px;
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
}

.listItem {
    display: flex;
    align-items: flex-start;
    width: calc(50% - 16px);
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.listImgBox {
    width: 100px;
    height: 100px;
    padding-left: 16px;
}

.listImgBox img {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 16px;
    object-fit: cover;
}

.listContent {
    position: relative;
    flex-grow: 1;
    width: 70%;
    padding: 16px;
}

.listTitle {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
}

.listText {
    margin-top: 4px;
    margin-bottom: 8px;
    color: #707070;
    font-size: 14px;
}

/* ピックアップ記事SP */

@media (max-width: 768px) {
    
    .cardContainer {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;
    }

    .cardContainer, .listContainer {
        padding: 0;
    }

    .card {
        padding: 16px;
    }

    .card, .listItem {
        width: 100%;
        max-width: none;
        margin: 0;
        box-sizing: border-box;
    }

    .cardImgBox img {
        display: block;
        width: 100%;
        max-width: none;
        height: 100px;
    }

    /* おすすめ記事SP */

    .listContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .listItem {
        display: flex;
        align-items: center;
        padding: 12px;
        border-radius: 6px;
    }

    .listImgBox {
        align-self: flex-start;
        width: 100px;
        height: 100px;
        padding: 0;
    }

    .listImgBox img {
        padding-top: 0;
    }

    .listContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 0 0 16px;
    }

    .listCategory {
        align-self: flex-start;
        margin-top: 0;
    }

    .listTitle {
        margin-bottom: 0;
        font-size: 15px;
    }

    .btnArea {
        margin-bottom: 12px;
    }

}


