@charset "UTF-8";

* {
     margin: 0;
     padding: 0;
}

body {
    background-color: #f2f2f2;
}

main {
    margin: 80px 0;
    background-color: #f2f2f2;
}

/* ピックアップ記事 */

.pickup, .recommend {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.title-area {
    margin-bottom: 40px;
    text-align: center;
}

.title-area img {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
}

.title {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

/* cardの形 */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    
}

.card {
    overflow: hidden;
    gap: 32px;
    width: 338px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-img-box img {
    width: 338px;
    height: 120px;
}

.card-content {
    text-align: left;
}

.card-title {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 18px;
}

.card-title, .list-title {
    line-height: 1.4;
}
.card-text {
    margin-top: 4px;
    margin-bottom: 8px;
    color: #707070;
    font-size: 15px;
}

.card-text, .list-text {
    line-height: 1.6;
}

/* カテゴリ */

.category, .list-category {
    display: inline-block;
    padding: 3px 8px;
    background-color: #ea8c20;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.category {
    margin-top: 16px;
}

.list-category {
    margin: 0;
}

.category.green, .list-category.green {
    background-color: #40b6bb;
}

.list-category.pink {
    background-color: #e62294;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: #707070;
    border-radius: 5px;
}

.tag {
    display: inline-block;
    padding: 2px 4px;
    background-color: #f5f5f5;
    border-radius: 3px;
    color: #707070;
    font-size: 12px;
}

/* ボタン */

.btn-area {
    margin-top: 10px;
    text-align: right;
}

.btn-more, .list-btn-more {
    padding: 8px 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #111111;
    font-size: 13px;
    text-decoration: none;
}

.btn-arrow {
    padding-left: 8px;
}

/* おすすめ記事PC */

.recommend {
    margin-top: 80px;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    width: 100%;
}

.list-item {
    display: flex;
    align-items: flex-start;
    width: 42%;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.list-img-box {
    width: 100px;
    height: 100px;
    padding-left: 16px;
}

.list-img-box img {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 16px;
    object-fit: cover;
}

.list-content {
    position: relative;
    flex-grow: 1;
    width: 70%;
    padding: 16px;
    padding-left: 16px;
}

.list-title {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
}

.list-text {
    margin-top: 4px;
    margin-bottom: 8px;
    color: #707070;
    font-size: 14px;
}

/* ピックアップ記事SP */

@media (max-width: 768px) {
    
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;
        border-radius: 6px;
    }

    .card {
        width: 100%;
        max-width: 338px;
        margin: 0 auto;
        padding: 16px;
    }

    .card-img-box img {
        display: block;
        width: 100%;
        height: 100px;
    }

    /* おすすめ記事SP */

    .list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .list-item {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 338px;
        padding: 12px;
        background-color: #ffffff;
        border-radius: 6px;
    }

    .list-img-box {
        align-self: flex-start;
        width: 100px;
        height: 100px;
        padding: 0;
    }

    .list-img-box img {
        padding-top: 0;
    }

    .list-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .list-category {
        align-self: flex-start;
        margin-top: 0;
    }

    .list-title {
        margin-bottom: 0;
        font-size: 15px;
    }

    .btn-area {
        margin-bottom: 12px;
    }

}


